.explore-online {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 40px;
    @include onTablet {
      margin-bottom: 48px;
    }
  }

  &__content {
    @include gridContainer;
    row-gap: 48px;
    grid-row: 2/3;
    grid-column: span 2;

    @include onTablet {
      grid-column: span 6;
    }

    @include onDesktop {
      grid-column: span 12;
    }
  }

  &__card {
    grid-column: span 2;

    @include onTablet {
      grid-column: 2/-2;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }

  &__card-image {
    width: 100%;
    margin-bottom: 32px;
    @include hover(transform, scale(1.1));
  }

  &__card-title {
    font-size: 24px;
    line-height: 140%;
    color: $color-main-accent;
    margin-bottom: 4px;
  }
  &__card-description {
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }

}
